<div class="container">
        <h2 class="my-5">
            <div class="row">
                <div class="col-1" onclick="date.hide()">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="col-11">
                    Date & Time
                </div>
            </div>
        </h2>
        <div clas="row">
            <div class="col-12 my-5">
                Date
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="form-row">
                        <div class="col">
                            <select class="form-control">
                                {{ #date.months }}
                                    <option {{ #date.isMonth }}selected{{ /date.isMonth }} value="{{ . }}">
                                        {{ date.getMonthName }}
                                    </option>
                                {{ /date.months }}
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control">
                                {{ #date.days }}
                                    <option {{ #date.isDay }}selected{{ /date.isDay }} value="{{ . }}">
                                        {{ . }}
                                    </option>
                                {{ /date.days }}
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control">
                                {{ #date.years }}
                                    <option {{ #date.isYear }}selected{{ /date.isYear }} value="{{ . }}">
                                        {{ . }}
                                    </option>
                                {{ /date.years }}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div clas="row">
            <div class="col-12 my-5">
                Time
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="form-row">
                        <div class="col">
                            <select class="form-control">
                                {{ #time.hours }}
                                    <option {{ #time.isHour }}selected{{ /time.isHour }} value="{{ . }}">
                                        {{ . }}
                                    </option>
                                {{ /time.hours}}
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control">
                                {{ #time.minutes }}
                                    <option {{ #time.isMinutes }}selected{{ /time.isMinutes }} value="{{ . }}">
                                        {{ . }}
                                    </option>
                                {{ /time.minutes}}
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control">
                                {{ #time.ampm }}
                                    <option {{ #time.isAmpm }}selected{{ /time.isAmpm }} value="{{ . }}">
                                        {{ . }}
                                    </option>
                                {{ /time.ampm}}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12">
                <button type="button" class="btn btn-primary btn-block" onclick="date.hide()">
                    OK
                </button>
            </div>
        </div>
    </div>