<div class="container">
    <h2 class="my-5">
        <div class="row">
            <div class="col-1" onclick="wired.hide()">
                <i class="fas fa-chevron-left"></i>
            </div>
            <div class="col-10">
                Wired
            </div>
        </div>
    </h2>
    <div class="list-group scrollable">
        {{ #devices }}
            <div class="row border-bottom py-3 list-group-action">
                <div class="col-1">
                    <i class="fas fa-network-wired"></i>
                </div>
                <div class="col-9">
                    <div>
                        {{ properties.name }}
                    </div>
                    <div class="badge badge-secondary">
                        {{ properties.ipv4.address}}
                    </div>
                </div>
                <div class="col-2 text-right">

                </div>
            </div>
        {{ /devices }}
    </div>
</div>
</div>