$colors: (
  primary:          #00ADDC,
  secondary:        #223340,
  font:             #FFFFFF,
  grey:             #848286
);

@import "style.css";
@import "main.scss";
@import "portrait.scss";
@import "landscape.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";