$colors: (
  primary:          #00ADDC,
  secondary:        #223340,
  font:             #FFFFFF,
  grey:             #848286
);


$body-bg: transparent;
$body-color: #FFFFFF;
$list-group-bg: transparent;
$font-size-base: 1.5rem;

@import "~bootstrap/scss/bootstrap";
@import "main.scss";
@import "portrait.scss";
@import "landscape.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

