::-webkit-scrollbar {
    display: none;
}

::-webkit-progress-bar {
    background: map-get($colors, grey);
}

::-webkit-progress-value {
    background-color: map-get($colors, primary);
}

html {
    height: 100%;
    background-size: cover;
    -webkit-overflow-scrolling: touch;
}

body {
    font-size: 2rem;
    font-family: Arial;
    color: map-get($colors, font);
    margin: 0 5%;
    height: 100%;

    a {
        color: map-get($colors, font);
        text-decoration: none;
    }

    .button {
        &[value="true"] {
            color: map-get($colors, primary);
            .disabled {
                display: none;
            }
            .enabled {
                display: block;
            }
        }
        &[value="false"] {
            color: map-get($colors, grey);
            .disabled {
                display: block;
            }
            .enabled {
                display: none;
            }
        }
    }

    .page {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        position: relative;

        &.hide {
            display: none;
        }

        .header {
            text-align: left;
            margin: 50px 0;

            .backButton {
                padding-right: 20px;
                font-size: 1em;
            }
        }

        .container {
            overflow-y: scroll;
            height: 1040px;

            .entry {
                $entryHeight: 120px;
                height: $entryHeight;
                line-height: $entryHeight;
                border-bottom: 9 solid map-get($colors, grey);

                &:nth-last-child(1) {
                    margin-bottom: 90px;
                }

                &.secondary {
                    $entryHeight: 90px;
                }

                &:last-child {
                    border-bottom: none;
                }

                .icon {
                    width: 10%;
                    height: $entryHeight;
                    position: relative;
                    float: left;
                    text-align: center;
                }

                .label {
                    position: relative;
                    float: left;
                    text-align: left;
                    width: 75%;
                    height: $entryHeight;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    .title {
                        height: 2*$entryHeight/3;
                        line-height: 2*$entryHeight/3;
                    }
                    .subtitle {
                        height: $entryHeight/3;
                        line-height: $entryHeight/3;
                        font-size: 0.75em;
                    }
                }

                .control {
                    width: 15%;
                    position: relative;
                    float: left;
                    text-align: right;
                    height: $entryHeight;

                    & > * {
                        height: $entryHeight;
                        line-height: $entryHeight;
                    }

                    &.enabled {
                        .on {
                            display: block;
                            color: map-get($colors, primary);
                        }

                        .off {
                            display: none;
                        }
                    }

                    .on {
                        display: none;
                    }

                    .off {
                        display: block;
                    }
                }
            }
        }

        .footer {            
            position: absolute;
            bottom: 0;
            text-align: center;
            height: 80px;
            line-height: 80px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-content: stretch;

            .button {
                flex-grow: 1;
                background: map-get($colors, secondary);

                &.active {
                    background: map-get($colors, primary);
                }
            }
        }
    }

    .log {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1080px;
        background: white;
        font-size: 1.5rem;
    }
}