@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6brftk');
  src:  url('fonts/icomoon.eot?6brftk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6brftk') format('truetype'),
    url('fonts/icomoon.woff?6brftk') format('woff'),
    url('fonts/icomoon.svg?6brftk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e909";
}
.icon-time:before {
  content: "\e900";
}
.icon-bluetooth:before {
  content: "\e901";
}
.icon-keyboard_arrow_down:before {
  content: "\e907";
}
.icon-keyboard_arrow_up:before {
  content: "\e908";
}
.icon-computer:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-wifi:before {
  content: "\e902";
}
.icon-ethernet:before {
  content: "\e903";
}
.icon-speed:before {
  content: "\e904";
}
.icon-toggle_off:before {
  content: "\e905";
}
.icon-toggle_on:before {
  content: "\e906";
}
